body {
    background-color: #FFE599;
    /* background-image: url(../images/wolk.png); */
    background-size: cover;
    /* z-index: 1; */
    overflow-y: scroll;
    /* background-image: url(../images/logo.png); */
    font-family: 'Balsamiq Sans', cursive;
}

dice {
    float: left;
}

player {
    background-image: url(../images/logo.png);
    /* position: absolute; */
    display: inline-flex;
    /* box-sizing: border-box;
    background-size: cover; */
    /* z-index: 2; */
    margin-left: 6px;
    width:40px; height: 40px;
    background-size: 40px 40px;
    /* background-color: aqua; */
}

#start {
    text-align: center;
}

#finish {
    text-align: center;
}

.number{
    margin-left: 6px;
    text-align: center;
}

.tile {
    width: 100px;
    height: 100px;
    background-color: #e7a57e;
    border-color: #4B3B40;
    border-style: solid;
    border-width: 2px;
    margin: 5px;
    border-radius: 5px;
    /* z-index: 1; */
}

.board {
    margin: auto;
    width: fit-content;
    margin-top: 80px;
    /* z-index: 1; */
}

.horizontal {
    display: inline-flex;
}

.vertical {
    display: inline-grid;
}

.boom { /* Toegevoegd om de eerste boom te plaatsen, rechts bovenin*/
    position: absolute;
    height: 325px;
    width: 325px;
    top: 175px;
    right: 75px;
    z-index: 2;
}

.grot { /* Toegevoegd om de grot te plaatsen, links onderin*/
    position: absolute;
    height: 400px;
    width: 600px;
    bottom: 275px;
    left: 25px;
    z-index: 1;
}
