body {
    background-color: rgb(106, 180, 21);
    /* z-index: 1; */
    overflow-y: scroll;
    /* background-image: url(../images/logo.png); */
}

dice {
    float: left;
}

player {
    background-image: url(../images/logo.png);
    /* position: absolute; */
    display: inline-flex;
    /* box-sizing: border-box;
    background-size: cover; */
    /* z-index: 2; */
    margin-left: 6px;
    width:40px; height: 40px;
    background-size: 40px 40px;
    /* background-color: aqua; */
}

#start {
    text-align: center;
}

#finish {
    text-align: center;
}

.tile {
    width: 100px;
    height: 100px;
    background-color: white;
    border-color: red;
    border-style: solid;
    border-width: 2px;
    margin: 5px;
    /* z-index: 1; */
}

.board {
    margin: auto;
    width: fit-content;
    margin-top: 80px;
    z-index: 1;
}

.horizontal {
    display: inline-flex;
}

.vertical {
    display: inline-grid;
}
